@model DoxTree.ViewModels.EditUserModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Edit User: @Model.UserName</h2>

<div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName): @Model.UserName
            </div>
            <br/>
            <div class="editor-label">
                @Html.LabelFor(m => m.LastName): @Model.LastName
            </div>
            <br/>
            <div class="editor-label">
                @Html.LabelFor(m => m.AccountLocked): @Model.AccountLocked
                <br />
                @{
                    
                if(Model.AccountLocked)
                {
                    @Html.ActionLink("Unlock Account", "Unlock", "Admin", new { @username = @Model.UserName }, new { @class = "btn" })                
                }
                else
                {
                    //@Html.ActionLink("Lock Account", "Lock", "Admin", new { @username = @Model.UserName }, new { @class = "btn" })                
                }
                
                }
            </div>
            <br/>
            <div class="editor-label">
                <p>
                    <span style="color:red;">WARNING: this action is irrevesible. This will not delete the DoxTree profile.</span>
                </p>
                <p>
                Delete ASP.NET Membership Account for: @Model.UserName
                </p>
                <p>
                    @Html.ActionLink("Delete ASP.NET User", "DeleteAspUser", "Admin", new { @username = @Model.UserName }, new { @class = "btn" })                                  </p>
                
                </div>

</div>
