@model WebHelpEditor.Models.IndexViewModel
@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
    ViewBag.Title = "Web Help Editor";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<html lang="en" ng-app="editorApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Web Help Editor" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">

    @Styles.Render("~/Content/cssBlue")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script language="JavaScript" type="text/javascript" src="~/Wyzz/wyzz.js"></script>

    <style type="text/css">
        #FileTree .jstree-leaf > a > ins {
            background: url("/jstree/themes/default/d.gif");
            background-position: -2px -19px !important;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand" data-bind="click: navigateToHome">Web Help Editor</a>
                </div>
                <div class="navbar-collapse collapse">
                    <div id="languageDropdown" class="nav navbar-nav">
                        @Html.DropDownList("SelectedLanguage", (SelectList)ViewBag.Languages)
                    </div>
                    <div id="userSettings" class="nav navbar-nav navbar-right">
                        @Html.Partial("_UserSettings")
                    </div>
                </div>
            </div>
        </div>
        <!-- /Navbar -->
        <!-- Page Editor -->
        <div class="row" id="editorApp" ng-controller="EditorCtrl">
            <div class="col-lg-3">
                <h1>File System</h1>
                <div>
                    <div id="FileTree"></div>
                </div>
            </div>
            <div id="multilingualEditor" style="display:none;">
                <div class="col-lg-5">
                    <h1>Multilingual Content</h1>
                    <div style="vertical-align:top">Title: <input type="text" id="titleHtml" class="title" placeholder="No file loaded..." width="400" /></div>
                    <textarea name="textEditor" id="textEditor" rows="10" cols="40">No file loaded...</textarea><br />
                    <script language="javascript1.2">
                        make_wyzz('textEditor');
                    </script>
                    <div ng-controller="EditorCtrl">
                        <form novalidate class="simple-form">
                            <button ng-click="saveFileContent()">save</button>
                        </form>
                    </div>
                    <div>
                        <p class="lead">File: <span class="lead" id="multilingualfile">{{multilingualfile}}</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h1>English Content</h1>
                <div style="vertical-align:top">
                    Title: <div id="titleHtmlEnglish">No file loaded</div>
                    <iframe id="english" src="" width="500" height="650"></iframe>
                    <p class="lead">File: {{englishfile}}</p>
                </div>

            </div>
        </div>
    </div>

    <!-- /Page Editor -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular.min.js")
    
    <script language="javascript">
        $(document).ready(function () {
            $("#SelectedLanguage").change(function () {
                var selection = $("#SelectedLanguage").val();
                // English is value 1
                if (selection > 1) {
                    //alert("Showing multilingual");
                    multilingualEditor.style.display = 'block';
                } else {
                    multilingualEditor.style.display = 'none';
                }
                
            });
        });
    </script>

    <script>
            var myApp = angular.module('editorApp', []);

        myApp.controller('EditorCtrl', ['$scope', '$http', function ($scope, $http) {

            $scope.englishfile = 'No file loaded';
            $scope.multilingualfile = 'No file loaded';

            $scope.getFileContent = function (file, multilingual) {
                $http.get('/Home/GetFileContent', { params: { filePath: file } })
                    .then(
                    function (response) {
                        // Set the English path
                        $scope.englishfile = response.data.PathEnglish;

                        document.getElementById("english").contentWindow.document.body.innerHTML = response.data.BodyContentEnglish;
                        document.getElementById("titleHtml").value = response.data.HtmlTitle;

                        $scope.multilingualfile = response.data.Path;
                        document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML = response.data.BodyContent;
                    },
                    function (data) {
                        alert("Error getting file content");
                    }
                );
            }

            $scope.saveFileContent = function () {
                $http.post('/Home/SaveFileContent', { filePath: document.getElementById("multilingualfile").innerHTML, content: document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML, title: document.getElementById("titleHtml").value })
                    .then(
                    function (response) {
                        alert("File saved");
                    },
                    function (data) {
                        alert("Error saving file content");
                    }
                );
            }
        }]);


    </script>

    <script language="JavaScript" type="text/javascript" src="/jstree/jquery.jstree.js"></script>
    <script type="text/javascript">
        // Begin JSTree: courtesy Ivan Bozhanov: http://www.jstree.com:
        $('#FileTree').jstree({
            "json_data": {
                "ajax": {
                    "url": "/Home/GetTreeData",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json charset=utf-8"
                }
            },
            "themes": {
                "theme": "default",
                "dots": false,
                "icons": true,
                "url": "/jstree/themes/default/style.css"
            },

            "contextmenu": {
                "items": {
                    "create": false,
                    "rename": false,
                    "remove": false,
                    "ccp": false,
                }
            },

            "plugins": ["themes", "json_data", "dnd", "contextmenu", "ui", "crrm"]
        });

        $('#FileTree').bind("loaded.jstree", function(event, data) {
            // you get two params - event & data - check the core docs for a detailed description
            $(this).jstree("close_all");
        });

        $('#FileTree').bind('select_node.jstree', function (e, data) {

            data.rslt.obj.each(function() {
                //alert(this.id);
                var path = this.id;

                e = document.getElementById('editorApp');
                scope = angular.element(e).scope();
                // update the model with a wrap in $apply(fn) which will refresh the view for us
                scope.$apply(function() {
                    scope.getFileContent(path);
                    scope.contentLoaded = true;
                });
            });
        });
        // End JSTree
    </script>

</body>
</html>
