@model WebHelpEditor.Models.IndexViewModel
@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<html lang="en" ng-app="editorApp">
<head>
    <meta charset="utf-8" />
    <title>Web Help Editor - Beta</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Web Help Editor" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script language="JavaScript" type="text/javascript" src="~/Wyzz/wyzz.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/dropDown.js"></script>

    <style type="text/css">
        #FileTree .jstree-leaf > a > ins {
            background: url("/jstree/themes/default/d.gif");
            background-position: -2px -19px !important;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="container-fluid body-content">
        <div class="navbar navbar-blueTop navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header-white">
                    <img src="~/Content/images/AILogo.png" height="40" alt="Aquatic Informatics Logo" />
                </div>
                <div class="navbar-header">
                </div>
                <div class="navbar-collapse collapse">
                    <div id="userSettings" class="nav navbar-right-align">
                        @Html.Partial("_UserSettings")
                    </div>
                    <div id="languageDropdown" class="nav navbar-right-align navbar-top">
                        @Html.DropDownList("SelectedLanguage", (SelectList)ViewBag.Languages)
                    </div>
                    <div style="color: #0ca3d2">
                        Selected language: <span id="editlanguage">{{editlanguage}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Navbar -->
        <!-- Page Editor -->
        <div class="row" id="editorApp" ng-controller="EditorCtrl">
            <div class="col-lg-3">
                <h3>File System</h3>
                <div>
                    <div id="FileTree"></div>
                </div>
            </div>

            <div id="editor" class="col-lg-5">
                <div id="englishHeader"><h3>English Editor</h3></div>
                <div id="multilingualHeader" style="display:none;"><h3>Multilingual Editor</h3></div>

                <div style="vertical-align:top">
                    Title: <input type="text" id="titleHtml" placeholder="No file loaded..." width="800" />
                    <textarea name="textEditor" id="textEditor" rows="30" cols="40">No file loaded...</textarea><br />
                </div>
                <script language="javascript1.2">
                    make_wyzz('textEditor');
                </script>
                <div ng-controller="EditorCtrl">
                    <form novalidate class="">
                        <button ng-click="saveFileContent()">save</button>
                    </form>
                </div>
                <div>
                    File: <div id="editfilepath">{{editfilepath}}</div>
                </div>
            </div>

            <div id="englishreadonly" class="col-lg-4" style="display:none;">
                <h3>English Content</h3>
                <div style="vertical-align:top">
                    <div id="titleHtmlEnglish">Title: No file loaded</div>
                    <iframe id="english" src="" width="500" height="650"></iframe>
                    <p>File: {{englishfile}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Editor -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular.min.js")

    <script language="javascript">
        document.getElementById("editlanguage").innerHTML = "english";

        $(document).ready(function () {
            $("#SelectedLanguage").change(function () {
                var selection = $("#SelectedLanguage").val();
                switch(selection) {
                case "1":
                    englishreadonly.style.display = 'none';
                    englishHeader.style.display = 'block';
                    multilingualHeader.style.display = 'none';
                    document.getElementById("editlanguage").innerHTML = "english";
                    break;
                case "2":
                    englishreadonly.style.display = 'block';
                    englishHeader.style.display = 'none';
                    multilingualHeader.style.display = 'block';
                    document.getElementById("editlanguage").innerHTML = "french";
                    break;
                case "3":
                    englishreadonly.style.display = 'block';
                    englishHeader.style.display = 'none';
                    multilingualHeader.style.display = 'block';
                    document.getElementById("editlanguage").innerHTML = "spanish";
                    break;
                }
            });
        });
    </script>

    <script>
        var myApp = angular.module('editorApp', []);
        myApp.controller('EditorCtrl', ['$scope', '$http', function ($scope, $http) {

            $scope.englishfile = 'No file loaded';
            $scope.multilingualfile = 'No file loaded';

            $scope.getFileContent = function (file) {
                $http.get('/Home/GetFileContent', { params: { filePathEnglish: file, languageCode: document.getElementById("SelectedLanguage").value } })
                    .then(
                        function (response) {
                            $scope.englishfile = response.data.PathEnglish;
                            $scope.editfilepath = response.data.Path;

                            document.getElementById("english").contentWindow.document.body.innerHTML = response.data.BodyContentEnglish;
                            document.getElementById("titleHtml").value = response.data.HtmlTitle;
                            document.getElementById("titleHtmlEnglish").innerHTML = "Title: " + response.data.HtmlTitleEnglish;
                            document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML = response.data.BodyContent;
                        },
                        function (data) {
                            alert("Error getting file content");
                        }
                    );
            }

            $scope.saveFileContent = function () {
                $http.post('/Home/SaveFileContent', { filePath: document.getElementById("editfilepath").innerHTML, content: document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML, title: document.getElementById("titleHtml").value })
                    .then(
                        function (response) {
                            alert("File saved");
                        },
                        function (data) {
                            alert("Error saving file content");
                        }
                    );
            }
        }]);


    </script>

    <script language="JavaScript" type="text/javascript" src="/jstree/jquery.jstree.js"></script>
    <script type="text/javascript">
        // Begin JSTree: courtesy Ivan Bozhanov: http://www.jstree.com:
        $('#FileTree').jstree({
            "json_data": {
                "ajax": {
                    "url": "/Home/GetTreeData",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json charset=utf-8"
                }
            },
            "themes": {
                "theme": "default",
                "dots": false,
                "icons": true,
                "url": "/jstree/themes/default/style.css"
            },

            "contextmenu": {
                "items": {
                    "create": false,
                    "rename": false,
                    "remove": false,
                    "ccp": false,
                }
            },

            "plugins": ["themes", "json_data", "dnd", "contextmenu", "ui", "crrm"]
        });

        $('#FileTree').bind("loaded.jstree", function (event, data) {
            // you get two params - event & data - check the core docs for a detailed description
            $(this).jstree("close_all");
        });

        $('#FileTree').bind('select_node.jstree', function (e, data) {
            data.rslt.obj.each(function () {
                var path = this.id;
                e = document.getElementById('editorApp');
                scope = angular.element(e).scope();
                // update the model with a wrap in $apply(fn) which will refresh the view for us
                scope.$apply(function () {
                    scope.getFileContent(path);
                    scope.contentLoaded = true;
                });
            });
        });
        // End JSTree
    </script>

</body>
</html>
