@model WebHelpEditor.Models.LoginModel
@using WebHelpEditor.Helper;
@using WebHelpEditor.Models;
@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
    ViewBag.Title = "Website File Editor";
    ViewBag.FilePathFrench = HttpRuntime.AppDomainAppPath + @"\Test\help-fr\";
    //Layout = "~/Views/Shared/_LayoutBlue.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="HTML Help Editor SPA" />
    @Styles.Render("~/Content/cssBlue")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script language="JavaScript" type="text/javascript" src="~/Home/wyzz.js"></script>

    <style type="text/css">
        #FileTree .jstree-leaf > a > ins {
            background: url("/jstree/themes/default/d.gif");
            background-position: -2px -19px !important;
        }
    </style>

</head>
<body>
    @if (@User.Identity.IsAuthenticated)
    {
        @*<p class="error" data-bind="text: error"></p>*@
        @*<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />*@
        <!-- Navbar -->
        <div data-bind="visible: loading">Loading...</div>
        <div style="display: none" data-bind="visible: true" class="container body-content">
            @*<div data-bind="visible: true" class="container body-content">*@
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <p class="navbar-brand" data-bind="if: !loggedIn()">File Editor</p>
                        <a href="#" class="navbar-brand" data-bind="if: loggedIn, click: navigateToHome">File Editor</a>
                    </div>

                    @*<div data-bind="if: loggedIn" class="navbar-collapse collapse">*@

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" data-bind="click: navigateToHome">Home</a></li>
                            <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                        </ul>
                        @*<ul class="nav navbar-nav navbar-right" data-bind="with: user">*@
                        @*<li>
                <span class="navbar-text nofloat">Hello, <a href="#" class="navbar-link" data-bind="text: name, click: manage"></a>!</span>
            </li>
            <li><a href="#" data-bind="click: logOff">Log off</a></li>*@
                        <div id="userSettings" class="nav navbar-nav navbar-right">
                            @Html.Partial("_UserSettings")
                        </div>
                        @*</ul>*@
                    </div>
                </div>
            </div>

            <div data-bind="foreach: errors" class="padding-error">
                <p class="text-danger" data-bind="text: $data"></p>
            </div>
            <!-- /Navbar -->
            <!-- Page Editor -->
            <div class="row" id="editorApp" ng-app="editorApp" ng-controller="EditorCtrl">
                <div class="col-lg-3">
                    <h1>File System</h1>
                    @*<p>@Html.GetFilesInfo(@"S:\Source\WebHelpEditor\WebHelpEditor\Test\")</p>
                        <br /><br />*@

                    @*<div>

                            @foreach (FileToEdit file in FileToEdit.GetFiles(ViewBag.FilePathFrench))
                            {
                                <text>
                                    <p><button class="link" ng-click="getFileContent('@Server.UrlEncode(file.FilePath)', true)">@file.Name</button></p>
                                </text>
                            }           
                        </div>*@

                    <div>
                        <p></p>

                        <div id="FileTree"></div>

                        @*<p>Test Application Path</p> 
                            <p>@HttpRuntime.AppDomainAppPath</p>*@
                    </div>
                    <!-- jsTree Test -->
                    @*<div>
                            <p>jsTree test</p>
                            @foreach (var path in Directory.GetFiles(@"S:\Source\WebHelpEditor\WebHelpEditor\Test"))
                                {
                                    //TODO Created a textarea tag using TagBuilder class.
                                    //TagBuilder textarea = new TagBuilder("textarea");
                                    text += "<a href=\"\" conclick=\"loadContent('test loading content')\"" + ">";
                                    text += System.IO.Path.GetFileName(path);
                                    text += "</a><br />";
                                }

                            <script>
                                jQuery(function ($) {
                                    $('#container').jstree();
                                });
                            </script>
                        </div>*@
                    <!-- /jsTree Test -->

                </div>
                <div class="col-lg-5">
                    <h1>Multilingual Content</h1>
                    <p class="lead">File: <span class="lead" id="multilingualfile">{{multilingualfile}}</span></p>

                    @*<textarea name="textFormula1" id="textFormula1" rows="10" cols="40">@Html.GetFileBodyContent(File.ReadAllText(@"S:\Source\WebHelpEditor\WebHelpEditor\AQUARIUS\help-en\help\1GettingStarted\index.htm"))</textarea><br />*@
                    @*Title: <textarea name="title" id="title2" rows="1" cols="400">No file loaded...</textarea><br />*@
                    <div style="vertical-align:top">Title: <input type="text" id="titleHtml" class="title" placeholder="No file loaded..." width="400" /></div>
                    <textarea name="textEditor" id="textEditor" rows="10" cols="40">No file loaded...</textarea><br />
                    <script language="javascript1.2">
                        make_wyzz('textEditor');
                    </script>
                    <div ng-controller="EditorCtrl">
                        @*<input type="button" name="button" value="reset" ng-click="reset()">*@

                        <form novalidate class="simple-form">
                            @*Name: <input type="text" ng-model="user.name" /><br />
                                E-mail: <input type="email" ng-model="user.email" /><br />
                                Gender: <input type="radio" ng-model="user.gender" value="male" />male
                                <input type="radio" ng-model="user.gender" value="female" />female<br />*@
                            @*<button ng-click="reset()">reset (TODO)</button>*@
                            <button ng-click="saveFileContent()">save</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h1>English Content</h1>
                    <p class="lead">File: {{englishfile}}</p>
                    <iframe id="english" src="" width="500" height="650"></iframe>
                    @*<div>
                            <button ng-click="chiliSpicy()">Chili</button>
                            <button ng-click="jalapenoSpicy()">Jalapeño</button>
                            <p>The food is {{spice}} spicy!</p> <br />

                            <form name="myform" action="" method="GET">
                                <textarea name="english" id="english" rows="10" cols="40">{{spice}}</textarea><br />
                                <script language="javascript1.2">
                                    make_wyzz('english');
                                </script>
                                <input type="button" name="button" value="send" onclick="postFormula()">
                            </form>
                        </div>

                        <script>
                            function postFormula(form) {
                                var TestVar = document.getElementById("wysiwyg" + "english").contentWindow.document.body.innerHTML;
                                alert("You typed: " + TestVar);
                            }
                        </script>*@
                </div>

                @*
                    <form name="myform" action="" method="GET">
                        <textarea name="textEditor" id="textEditor" rows="10" cols="40">@Html.GetFileBodyContent(File.ReadAllText(@"S:\Source\WebHelpEditor\WebHelpEditor\Test\test.txt"))</textarea><br />
                        <script language="javascript1.2">
                            make_wyzz('textEditor');
                        </script>
                        <input type="button" name="button" value="Save" onclick="saveText()">
                    </form>
                *@

            </div>
        </div>

    <!-- /Page Editor -->
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/appBlue")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/angular.min.js")


        <script>
            // Begin AngularJS controller
            // Wyzz control courtesy Phil Ballard : http://www.wyzz.info
            var myApp = angular.module('editorApp', []);

            myApp.controller('EditorCtrl', ['$scope', '$http', function ($scope, $http) {
                $scope.englishfile = 'No file loaded';
                $scope.multilingualfile = 'No file loaded';

                //$scope.save = function () {
                //    //alert("Saved: " + document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML);
                //    alert("Saved: " + $scope.multilingualfile);
                //};

                $scope.getFileContent = function (file, multilingual) {

                    // TODO what was this for? remove the parameter??
                    //if (multilingual)
                    //    $scope.multilingualfile = file;

                    //alert("Test: " + file);
                    //console.debug("called function", $scope.comment);
                    //$http.defaults.headers.get["Content-Type"] = "application/x-www-form-urlencoded";

                    $http.get('/Home/GetFileContent', { params: { filePath: file } })
                        .then(
                        function (response) {
                            //$scope.items = response;
                            //alert("Title: " + response.data.HtmlTitle);

                            // Set the English path
                            $scope.englishfile = response.data.PathEnglish;

                            //var iframe = document.getElementById('english');
                            //iframe.contentDocument.write(response.data.BodyContentEnglish);
                            document.getElementById("english").contentWindow.document.body.innerHTML = response.data.BodyContentEnglish;
                            document.getElementById("titleHtml").value = response.data.HtmlTitle;

                            //if (multilingual) {
                            $scope.multilingualfile = response.data.Path;
                            //}

                            //alert("getFileBodyContent: " + response.data.Path);
                            //alert("getFileBodyContent: " + $scope.multilingualfile);

                            document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML = response.data.BodyContent;
                        },
                        function (data) {
                            alert("Error getting file content");
                        }
                    );
                }

                $scope.saveFileContent = function () {
                    //alert("Save: " + $scope.multilingualfile);
                    //alert("Save2: " + document.getElementById("multilingualfile").innerHTML);

                    $http.post('/Home/SaveFileContent', { filePath: document.getElementById("multilingualfile").innerHTML, content: document.getElementById("wysiwyg" + "textEditor").contentWindow.document.body.innerHTML, title: document.getElementById("titleHtml").value })
                        .then(
                        //.success(
                        function (response) {
                            alert("File Save Result: " + response.data.Result);
                        },
                        function (data) {
                            alert("Error saving file content");
                        }
                    );
                }

                //$scope.reset = function () {
                //    alert("Reset: " + TestVar);
                //    $scope.user = angular.copy($scope.master);
                //};

                //$scope.testAjax = function () {
                //    alert("aha");
                //};

            }]);
            // End AngularJS controller

            // Begin AJAX and JS tests
            function TestAjax() {
                $.ajax({
                    type: "POST",
                    url: "/Home/TestAjax",
                    data: "name=John&location=Boston",
                    success: function (data) {
                        alert("TestAjax Data Returned: " + data.Result);
                    }
                });
            }

            function testJS(test) {
                //alert(test);
                TestAjax();
            };
            // End AJAX and JS tests
        </script>

        <script language="JavaScript" type="text/javascript" src="/jstree/jquery.jstree.js"></script>
        <script type="text/javascript">
            // Begin JSTree: courtesy Ivan Bozhanov: http://www.jstree.com:

            $('#FileTree').jstree({
                "json_data": {
                    "ajax": {
                        "url": "/Home/GetTreeData",
                        "type": "POST",
                        "dataType": "json",
                        "contentType": "application/json charset=utf-8"
                    }
                },
                "themes": {
                    "theme": "default",
                    "dots": false,
                    "icons": true,
                    "url": "/jstree/themes/default/style.css"
                },

                "contextmenu": {
                    "items": {
                        "create": false,
                        "rename": false,
                        "remove": false,
                        "ccp": false,
                    }
                },

                "plugins": ["themes", "json_data", "dnd", "contextmenu", "ui", "crrm"]


            })

            $('#FileTree').bind("loaded.jstree", function (event, data) {
                $(this).jstree("close_all");
            })

            $('#FileTree').bind('select_node.jstree', function (e, data) {

                data.rslt.obj.each(function () {
                    //alert(this.id);
                    var path = this.id;

                    e = document.getElementById('editorApp');
                    scope = angular.element(e).scope();
                    // update the model with a wrap in $apply(fn) which will refresh the view for us
                    scope.$apply(function () {
                        scope.getFileContent(path);
                    });
                })
            });
            // End JSTree
        </script>

    }
    else
    {
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/themes/base/css")

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @*@Scripts.Render("~/bundles/jqueryval")*@    
        @Scripts.Render("~/bundles/ajaxlogin")
        <div class="todoList" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Log in</h2>
                @Html.Partial("_Login")
            </section>
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </div>
        <div class="todoList" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            <p>Already signed up? <a id="showLogin">Log in</a></p>
        </div>
    }


</body>
</html>
